.user-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color:#EFEFEF;
    min-height: 70vh;
}

.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;

}

.user-header-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rectangle {
    width: 70px;
    height: 69px;
    background-color: #6B9908;
    display: flex;
    justify-content: center;
    align-items: center;
}

.get-loan-btn {
    width: 150px;
    height: 45px;
    top: 202px;
    left: 950px;
    border-radius: 7px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #0A512F30;
    border: 0;
    cursor: pointer;
}

.user-category-buttons {
    width: 759px;
    height: 55px;
    border-radius: 7px;
    
    box-shadow: 0px 4px 4px 0px #00000040;


}

.category-buttons {
    width: 251px;
    height: 55px;
    top: 301px;
    left: 340px;
    border: 0;
    background-color: #FFFFFF;
}

.left-category-button {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-right: solid 2px;
}

.right-category-button {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-left: solid 2px;
}

.user-search-bar {
    width: 759px;
    height: 55px;
    border-radius: 7px;
    background: #FFFFFFF5;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}

.search-bar {
    background-color: transparent;
    border: 0;
    outline: none;
    width: 90%;
}

.search-icon {
    margin-right: 15px;
}

.user-applied-loans {
    width: 1137px;
    min-height: 915px;
    top: 483px;
    left: 175px;
    background: #FFFFFF;
    margin-top: 20px;
}

.user-applied-loans-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}

.table-row {
    border-bottom: 2px solid #DFE0EB;
    width: 1135px;
    height: 92px;
    top: 225px;
    left: 1px;
}

.loan-officer-name {
    
    text-align: start;
    padding-left: 15px;
}

.table-row {
    width: 1135px;
    height: 92px;
    top: 134px;
    left: 1px;
    border-style: solid;
    border-width: 4px;
    
}

.sort-filter-button {
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.loan-amount {
    width: 208px;
    height: 20px;
    top: 26px;
    left: 526px;
    margin-right: 30px;
}

.loan-status {
    margin-right: 30px;
}

table {
    width: 100%;
}

.modal {
    
    font-size: 12px;
    background: #FFFFFF;
    width: 1106px;
    height: 1405px;
    top: 250px;
    left: 169px;
    padding: 40px;;

}
.modal > .header {
    width: 247.6521759033203;
    height: 32;
    top: 349px;
    left: 384px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 20px;

}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 20px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.form-el {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-label {
    width: 300px;
    height: 28px;
    top: 1px;
    font-family: Inter;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #000000;

}

.form-input {
    width: 300px;
    height: 40px;
    top: 28px;
    border-radius: 7px;
    border-width: 1px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 1px solid #094A034D;
}

.reason {
    width: 300px;
    height: 137px;
    border-radius: 7px;
    border-width: 1px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    border: 1px solid #094A0347
}

.terms-and-conditions {
    width: 500px;
    height: 140px;
    top: 5px;
    left: 65px;
    border-width: 1px;
    margin-left: 20px;
}